<form action="/contacts" method="post">
  <p>First Name: <input type="text" name="first_name"></p>
  <p>Middle Name: <input type="text" name="middle_name"></p>
  <p>Last Name: <input type="text" name="last_name"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Bio: <input type="text" name="bio"></p>
  <p>User Id: <input type="text" name="user_id"></p>
  <input type="submit" value="Save New Contact">
</form>